{% extends 'main.html' %}

{% block title %}About{% endblock %}

{% block content %}
<main>
    <h1>About</h1> <br>
    <p>A small website I created to practice Django.</p> <br>
    <p>The main idea is for it to be a quote repository which includes also explanations of the quotes. Feel free to
        play around &#9786;</p> <br>
    <p>The "not-so-good-looking" parts of the website are meant as commentary on the hegemony of certain webdesign
        aesthetic standarts and are definitely unrelated to my CSS abilities.</p>
</main>


{% endblock %}