{% extends 'main.html' %}

{% block title %}Login/Register{% endblock %}

{% block content %}
<main>
    {% if page == "login" %}
    <form method="POST" action="">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Enter username">

        <input type="password" name="password" placeholder="Enter password">

        <input type="hidden" name="next" value="{{request.GET.next}}">

        <input type="submit" value="Login">
    </form>
    <p>Not signed up yet?</p>
    <a href="{% url 'base:register' %}">Register</a>

    {% elif page == "register" %}

    {% load crispy_forms_tags %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="hp_email" style="display:none">
        {{form|crispy}}
        <input type="submit" value="Register">
    </form>
    <p>Already signed up? Go to <a href="{% url 'base:login' %}">Login</a></p>
    {% endif %}
</main>
{% endblock %}